---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Coverage from '../components/Coverage.astro';
import About from '../components/About.astro';
---

<Layout title="Avionne Photography | Luxury Real Estate Photography in Northern NJ">
  <Header />
  <main>
    <Hero />
    <Services />
    <About />
    <Coverage />
  </main>
  <Footer />
</Layout>
